:root{
  --numInputs:4;
  --vh:92vh;
  --vw:97vw;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  box-sizing: inherit;
  text-align: justify;
}

body{
  background: black;
}

p{
  color: white;
}

.navDrop, .secondary{
  display: none;
}

#navigation{
  height: 7vh;
}

#navigation ul{
    list-style: none;
    display: inline-block;
    width: calc(var(--vw)/3);
    text-align: center;
    font-size: 6vh;
}

#navigation a{
  text-decoration: none;
  color: white;
}

.converterBox{
  height:calc(var(--vh)/var(--numInputs));
}

input{
  width:100%;
  height:100%;
  background: black;
  color:white;
  text-align: center;
  font-size: 10em;
  border: 0;
  border-top: 0.75vh solid grey;
}

.card{
  border-radius: 25px;
  padding: 15px;
  color: white;
  font-size: 50px;
  background-color: rgb(99, 99, 99);
  display: none;
}

#reset{
  display: block;
}

.card:hover{
  color: darkgrey;
  cursor: pointer;
}

#reset{
  position: absolute;
  top: 92%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

@media only screen and (max-width: 880px) {
  #navigation{
    height: auto;
  }

  .navDrop {
    background-color: grey;
    width: 100%;
    color: white;
    height: 7vh;
    font-size: 6vh;
    text-align: center;
    border: none;
    display: block;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width:100%;
  }

  .navLinks {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: auto;
    width: 100%;
  }

  .primary {
    display: none;
  }

  .secondary {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 5px;
  }

  .secondary:hover {
    background-color: rgb(50, 50, 50);
  }

  .show {
    display: block;
  }

  .changeColor{
  background-color: rgb(50, 50, 50);
  }

  input{
    font-size: calc(100vw/6);
  }
}
